

RewriteEngine on 
ErrorDocument 404 http://localhost/TIENDA/error/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f



RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
